@using System.Globalization
@using static MedicalTools.Controllers.CustomerController
@model Order
@{
    double subtotal = 0;
    @foreach (var obj in Model.user.carts)
    {
        subtotal += obj.Quantity * obj.product.Price;
    }

    double Disc = @subtotal - @Model.Total;
}
<div class="hero-wrap hero-bread" style="background-image: url('@Url.Content("~/customer/images/header.jpg")')">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
                <h1 class="mb-0 bread">Checkout</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
                <form method="post" class="billing-form">
                    <input asp-for="ID" hidden />
                    <input asp-for="Total" hidden />
                    <input asp-for="Date" hidden />
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" value="@Model.Name" class="form-control" placeholder="">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Location">Location</label>
                                <input asp-for="Location" value="@Model.Location" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Location" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Phone">Phone</label>
                                <input asp-for="Phone" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Phone" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email">Email Address</label>
                                <input asp-for="Email" value="@Model.Email" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="card">card No</label>
                            <input asp-for="card" type="text" class="form-control" placeholder="">
                            <span asp-validation-for="card" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="password">Password</label>
                            <input asp-for="password" type="text" class="form-control" placeholder="">
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                    </div>
                
                <div class="row justify-content-center">
                    <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>Cart Totals</h3>
                            <p class="d-flex">
                                <span>Subtotal</span>
                                <span>@subtotal.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span>
                            </p>
                            <p class="d-flex">
                                <span>Discount</span>
                                <span>@Disc.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span>@Model.Total.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span>
                            </p>
                        </div>
                        <p class="text-center"><input  type="submit" class="btn btn-primary py-3 px-4"/></p>
                    </div>
                </div>
                </form>
                <!-- END -->
            </div>
        </div>
</section> <!-- .section -->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}