@using System.Globalization
@model List<MedicalTools.Models.Product>
@{
    ViewData["Title"] = "Index";
}
<section id="home-section" class="hero">
    <div class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                    <div class="one-third order-md-last img js-fullheight" style="background-image:url('@Url.Content("~/img/1.jpeg")')">
                    </div>
                    <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">

                            <span class="subheading"> E-Commerce Shop</span>
                            <div class="horizontal">
                                <h3 class="vr" style="background-image: url(images/divider.jpg);">Stablished Since 2000</h3>
                                <h1 class="mb-4 mt-3"><br><span> E-MedicalTools</span></h1>
                                <p>Our website is a website dedicated to selling medical equipment.</p>
                                <p><a  class="btn btn-primary">Discover Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
                    <div class="one-third order-md-last img js-fullheight" style="background-image:url('@Url.Content("~/img/2.jpeg")')">
                    </div>
                    <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading"> E-Commerce Shop</span>
                            <div class="horizontal">
                                <h3 class="vr" style="background-image: url(images/divider.jpg);">Best eCommerce Online Shop</h3>
                                <h1 class="mb-4 mt-3"><br><span> E-MedicalTools</span></h1>
                                <p>It has all the necessary medical equipment, whether it is a clinic or a hospital</p>

                                <p><a  class="btn btn-primary px-5 py-3 mt-3">Shop Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Best Sellers</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if(item.percentageOfDiscount!=1)
                {
                    <div class="col-sm col-md-6 col-lg ftco-animate">
                        <div class="product">
                            <a  class="img-prod">
                                <img class="img-fluid" src="@item.UrlImage">
                                <span class="status">
                                    @(100 - item.percentageOfDiscount * 100)%
                                </span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 px-3">
                                <h3>@item.Name</h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        @{

                                            var sum = @item.Price * @item.percentageOfDiscount;

                                        }
                                        <p class="price"><span class="mr-2 price-dc">@item.Price.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span><span class="price-sale">@sum.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span></p>
                                    </div>
                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a class="add-to-cart text-center py-2 mr-1" asp-action="AddToCart" asp-controller="Customer" asp-route-id="@item.ID"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a  class="buy-now text-center py-2" asp-action="Cart" asp-controller="Customer">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                }

               
            }
        </div>
    </div>
</section>