@using System.Globalization
@model List<Product>

@{
    string categoeryName = string.Empty;
}
@foreach(var p in Model)
{
    categoeryName = p.Category.Name;
    break;
}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">@categoeryName</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach(var product in Model)
            {
                if(product.percentageOfDiscount!=1)
                {
                    <div class="col-sm col-md-6 col-lg ftco-animate">
                        <div class="product">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" src="@Url.Content(product.UrlImage)" alt="Colorlib Template">
                                <span class="status">@(100 - product.percentageOfDiscount * 100)%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 px-3">
                                <h3><a href="#">@product.Name</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        @{
                                            var priceAfterDs = product.Price*product.percentageOfDiscount;
                                        }
                                        <p class="price"><span class="mr-2 price-dc">@product.Price.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span><span class="price-sale">@priceAfterDs.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span></p>
                                    </div>
                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a asp-action="addToCart" asp-route="@product.ID" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a asp-action="addOrder" asp-route="@product.ID" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm col-md-6 col-lg ftco-animate">
                        <div class="product">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" src="@Url.Content(product.UrlImage)" alt="Colorlib Template">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 px-3">
                                <h3><a href="#">@product.Name</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span>@product.Price.ToString("C", CultureInfo.GetCultureInfo("en-JO"))</span></p>
                                    </div>
                                </div>
                                <p class="bottom-area d-flex px-3">
                                    <a asp-action="addToCart" asp-route="@product.ID" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a asp-action="addOrder" asp-route="@product.ID" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>